@model WMTippApp.Models.DailyWinnerInfoModel

    <table class="MatchLister">
    <tr>
        <th>Rang</th>
        <th>Name</th>
        <th>Pkt</th>
            
        @foreach (var m in Model.MatchInfo)
        {
            <th colspan="3">
                <img alt="@m.HomeTeam" src="@m.HomeTeamIcon" height="11px" />
                <img alt="@m.AwayTeam" src="@m.AwayTeamIcon" height="11px" />
            </th>
        }

    </tr>

    <tr>
        <th colspan="3"></th>
        @foreach (var m in Model.MatchInfo)
        {
            <th>Tipp</th>
            <th>Quote</th>
            <th>Joker</th>
        }
    </tr>

    @foreach (var m in Model.Ranking)
    {
        <tr>
            <td>@m.Rang</td>
            <td>@m.DisplayName</td>
            <td>@String.Format("{0:0.00}", m.TotalPoints)</td>

            @foreach (var h in Model.MatchInfo)
            {               
                var tippObj = (from el in Model.AllTippInfoDict[m.User] 
                                where el.MatchId==h.MatchId
                                select el)
                                .FirstOrDefault();

                string cssIsCorrect = (tippObj != null && tippObj.IsMyTipCorrect == true) ? "CorrectTip" : "";

                // tip
                if (tippObj == null || tippObj.MyTip.HasValue == false)
                {
                    <td> - </td>
                    <td> - </td>
                    <td> - </td>
                }
                else if (tippObj.MyTip.Value == 0)
                {
                    <td >
                        <span class="@cssIsCorrect">X</span>
                    </td>
                    <td>
                        @tippObj.MyOdds
                    </td>
                    <td>
                        @Html.CheckBox("cb" + tippObj.MatchId.ToString(), tippObj.IsJoker, new { @disabled = "disabled" })
                    </td>
                }
                else
                {
                    <td >
                        <span class="@cssIsCorrect">
                            @tippObj.MyTip.Value
                        </span>
                    </td>
                    <td>
                        @tippObj.MyOdds
                    </td>
                    <td>
                        @Html.CheckBox("cb" + tippObj.MatchId.ToString(), tippObj.IsJoker, new { @disabled = "disabled" })
                    </td>
                }                
            }
        </tr>
    }
</table>
